.contact_section {
    position: relative;
}

.contact_section .heading_container {
    margin-bottom: 45px;
}

.contact_section .row {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.contact_section .form_container {
    background-color: #003471;
    padding: 45px;
}

.contact_section .form_container .form-control {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 15px;
    outline: none;
    color: #101010;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0;
}

.contact_section .form_container .form-control::-webkit-input-placeholder {
    color: #565554;
}

.contact_section .form_container .form-control:-ms-input-placeholder {
    color: #565554;
}

.contact_section .form_container .form-control::-ms-input-placeholder {
    color: #565554;
}

.contact_section .form_container .form-control::placeholder {
    color: #565554;
}

.contact_section .form_container .form-control.message-box {
    height: 95px;
}

.contact_section .form_container .btn_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact_section .form_container .btn_box button {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 55px;
    background-color: #da7426;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #da7426;
}

.contact_section .form_container .btn_box button:hover {
    background-color: transparent;
    color: #da7426;
}

.contact_section .map_container {
    height: 100%;
    min-height: 375px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
}

.contact_section .map_container .map {
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.contact_section .map_container .map #googleMap {
    height: 100%;
}
